@tailwind base;
@tailwind components;
@tailwind utilities;

.listings{
  display: flex;
  margin: 3em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10em;
}

.modal-action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2em;
}
.list-item {
  display: flex;
  margin-bottom: 2em;
}
.list-item-action-buttons {
  display: flex;
  flex-direction: column;
  /* margin-top: 1em; */
}
.list-item-text {
  display: flex;
  flex-direction: column;
  
}
.listings-page {
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: flex-start;
  background-color:rgba(147,167,186,255);
  height: 200vh;
  width: 100%;

}
.store-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-text-length {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  color: rgb(117, 112, 112);
}

.modeOfTransportation {
  display: flex;
  flex-direction: row-reverse;
}
.accordion-header {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .map {
  display: flex;
  flex-direction: row;
} */