.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2em;
  background-color: rgb(209, 230, 249);
}
.logo {
  width: 100px;
  height: 100px;
  cursor: pointer;

}
.logo:hover {
  opacity: 0.5;
}
.navigation-buttons {
  display: flex;
}
.right-buttons-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.sign-in-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 20px;
}

