.homepage {
  margin-top: 9em;
}
.get_started_button {
  margin-top: 12em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.search_button {
  color: rgb(30, 95, 74);
  margin-top: 2em
}
