.homepage {
  margin-top: 9em;
}
.get_started_button {
  margin-top: 20em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.search-button {
  margin-top: 5em
}
