@tailwind base;
@tailwind components;
@tailwind utilities;

.homepage {
  margin-top: 9em;
  height: 100%;
}
.get_started_button {
  font-family: 'Anton', sans-serif;
  margin-top: 20em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.search-button {
  margin-top: 5em;

}

.start-searching-btn {
    margin: 0;
    margin-top: 5em;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin-bottom: 0.35em;;

}
